@import url('/Ejercicios010324/public/css/bootstrap/dist/css/bootstrap.css');

ul.lista-padre{
    li{
        &:hover{
            color: red;
            a:hover{
                color: yellowgreen;
            }
        }
    }
}

/*
Inicio de la clase declarada

Agrega estilos restantes, no puedes salir de esta declaración para añadir más estilos
*/
ul.biome-list{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .biome{
        width: clamp(300px, 30vw, 100%);
        margin: auto;
        background-color: aliceblue;
        border: 2px solid lavender;
        &:hover{
            .biome-info{
                height: 10rem;
            }
            .biome-placeholder{
                opacity: 0;
            }
        }

        .biome-background{
            width: 100%;
            height: 10rem;
            background-repeat: no-repeat;
            background-position-y: 40%;
            background-size: inherit;  
            animation-name: slow_display;
            animation-duration: 60s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;  
            display: flex;
            align-items: center;
            .biome-placeholder{
                transition: .5s ease opacity;
                margin: 0 auto;
                filter: contrast(0.5);
                font-weight: bold;
                font-size: 200%;
                background-color: inherit; /* Utiliza el color de fondo del contenedor */
                mix-blend-mode: difference; /* Invierte automáticamente el color del texto en relación con el fondo */
            }        
        }
        
        .biome-info{
            height: 0rem;
            overflow-y: hidden;
            transition: 1s ease height;    
            .biome-name, summary{
                margin: 1rem;
            }
            .biome-name{
                color: darkslateblue;
                font-weight: bold;
            }
            summary{
                color: lightslategray;
                font-size: small;
            }
            .biome-description{
                padding-inline: 1rem;
            }
        }
    }
}

@keyframes slow_display {
    0%{
        background-position-x: 0%;
    }
    50%{
        background-position-x: 100%;
    }
    100%{
        background-position-x: 0%;
    }
}